import(methods)
export(ovl5)
export(bwcalc)
export(dvmkern)
export(redf)
export(density2)
export(fitact)
export(compareCkern)
export(compareAct)
export(compareTimes)
export(lincircKern)
export(fitlincirc)
export(plot.actmod)
export(plot.lincircmod)
exportClasses(actmod)
exportClasses(lincircmod)
exportMethods(show)
