import(methods)
S3method(plot,actmod)
S3method(plot,lincircmod)
export(dvonm)
export(trigmolen)
export(bwcalc)
export(cmean)
export(compareAct)
export(compareCkern)
export(compareTimes)
export(density2)
export(dvmkern)
export(fitact)
export(fitlincirc)
export(get_suntimes)
export(gettime)
export(lincircKern)
export(ovl4)
export(redf)
export(solartime)
export(transtime)
export(wrap)
exportClasses(actmod)
exportClasses(lincircmod)
