import(methods)
S3method(plot,actmod)
S3method(plot,lincircmod)
export(bwcalc)
export(compareAct)
export(compareCkern)
export(compareTimes)
export(density2)
export(dvmkern)
export(fitact)
export(fitlincirc)
export(lincircKern)
export(ovl5)
export(redf)
exportClasses(actmod)
exportClasses(lincircmod)
